doctype html
html(lang="en")
    head
        meta(charset='utf-8')
        title konrad
        link(rel='stylesheet' href='css/style.css' type='text/css')
        link(rel='stylesheet' href='css/dark.css'  type='text/css' id='style-link')
        link(rel='stylesheet' href='node_modules/font-awesome/css/font-awesome.css')
    body
        #titlebar.titlebar
        #main.main(tabindex="0")
    script.
        require('./window')
