
// 0000000     0000000   00000000   000   000  
// 000   000  000   000  000   000  000  000   
// 000   000  000000000  0000000    0000000    
// 000   000  000   000  000   000  000  000   
// 0000000    000   000  000   000  000   000  

frameWidth     = 6px
frameColor     = #fff
bgColor        = #eee
timeColor      = #aaa
frameBorder    = frameWidth solid frameColor

body
    background          bgColor
    color               #555

#overlay
    background          bgColor
    
.titlebar
    background          frameColor
    color               #888

// .titlebarPath
    // color               #000

.titlebarDot
    color               #eee

.titlebarVersion
    color               #ddd

.main
    border-left         frameWidth solid frameColor
    border-right        frameWidth solid frameColor
    border-bottom       frameWidth solid frameColor
    background          bgColor
    color               #555

.task .time
    color               timeColor

.task .file
    color               #400

.task .message
    color               #888

// 00000000    0000000   00000000   000   000  00000000
// 000   000  000   000  000   000  000   000  000   000
// 00000000   000   000  00000000   000   000  00000000
// 000        000   000  000        000   000  000
// 000         0000000   000         0000000   000

.popup
    background-color    frameColor

.popupWindow
    background-color    frameColor

.popupItem
    color               #888
    &:not(:last-child)
        border-bottom       1px solid frameColor
    &.selected
        color           #000

.popupItem:active
    color               #000

.popupCombo
    color               #888
    
highlightColor = #89f

@keyframes highlightTime
    0%,100%   
        color           timeColor
    50%  
        color           highlightColor

@keyframes highlightFile
    0%,100%   
        color           #400
    50%  
        color           highlightColor
        
::-webkit-scrollbar-corner
    background-color        bgColor

::-webkit-scrollbar-thumb
    background-color        #ddd

::-webkit-scrollbar-thumb:hover
    background-color        #000
    