
//  0000000  000000000  000   000  000    
// 000          000      000 000   000    
// 0000000      000       00000    000    
//      000     000        000     000    
// 0000000      000        000     0000000

frameWidth          = 6px
titlebarHeight      = 30px
titlebarFontSize    = 15px
titlebarFont        = Bahnschrift Light, Ebrima, Varela Round, Arial Rounded MT Bold, Helvetica, Arial
fontMono            = "Meslo LG S", "Liberation Mono", "Menlo", "Cousine", "Andale Mono", monospace

fill-abs()
    position            absolute
    bottom              0
    right               0
    left                0
    top                 0
    
// 0000000     0000000   0000000    000   000
// 000   000  000   000  000   000   000 000 
// 0000000    000   000  000   000    00000  
// 000   000  000   000  000   000     000   
// 0000000     0000000   0000000       000   

*
    outline-width       0
    
body
    fill-abs()
    margin              0
    overflow            hidden
    font-family         fontMono
    font-size           14px
    -webkit-user-select none
    -webkit-app-region  no-drag
    
// 00     00   0000000   000  000   000  
// 000   000  000   000  000  0000  000  
// 000000000  000000000  000  000 0 000  
// 000 0 000  000   000  000  000  0000  
// 000   000  000   000  000  000   000  

#main
    position            absolute
    bottom              0
    right               0
    left                0
    top                 titlebarHeight
    padding             frameWidth
    border-left         frameWidth solid frameColor
    border-right        frameWidth solid frameColor
    border-bottom       frameWidth solid frameColor
    overflow            auto
    -webkit-user-select text
        
// 000000000  000  000000000  000      00000000  0000000     0000000   00000000 
//    000     000     000     000      000       000   000  000   000  000   000
//    000     000     000     000      0000000   0000000    000000000  0000000  
//    000     000     000     000      000       000   000  000   000  000   000
//    000     000     000     0000000  00000000  0000000    000   000  000   000

#titlebar
    display             flex
    flex-direction      row
    height              titlebarHeight
    box-sizing          border-box
    font-size           titlebarFontSize
    font-family         titlebarFont
    white-space         nowrap
    pointer-events      auto
    cursor              pointer
    background          #222
    color               #aaa
    -webkit-app-region  drag

.titlebar-dot
    color               #444

.titlebar-version
    color               #555
    
.titlebar-title
    flex                1 1 0
    display             flex
    flex-direction      row
    overflow-x          auto
    overflow-y          hidden
    padding-top         6px
    padding-left        10px
    -webkit-app-region  drag
    font-weight         bold
    font                titlebarFont
    
.titlebar-dot
    display             inline-block
    vertical-align      top
    padding-left        6px
    padding-right       9px
    margin-top          -1px

#titlebar .winicon img
    -webkit-app-region  no-drag
    padding-left        6px
    padding-right       2px
    width               titlebarHeight
    height              titlebarHeight
    
#titlebar .winclose
    -webkit-app-region  no-drag
    flex                0 0 45px
    float               right
    display             inline-block
    vertical-align      top
    padding-top         frameWidth
    
    & img
        padding-left    18px
        width           11px
        height          11px
        opacity         0.2

    &:hover
        & img
            opacity     1
    &:active
        background-color #f00
        &.gray
            background-color #888
        & img
            opacity     1

// 00000000    0000000   00000000   000   000  00000000
// 000   000  000   000  000   000  000   000  000   000
// 00000000   000   000  00000000   000   000  00000000
// 000        000   000  000        000   000  000
// 000         0000000   000         0000000   000

// .popup
    // position            absolute
    // border-radius       3px

// .popupItem
    // padding             2px
    // padding-left        2 * frameWidth
    // padding-right       2 * frameWidth + 70px
    // cursor              pointer
    // &:last-child
        // padding-bottom  frameWidth
    // &:first-child
        // padding-top     frameWidth

// .popupCombo
    // position            absolute
    // right               2 * frameWidth
    

// 000000000   0000000    0000000  000   000  
//    000     000   000  000       000  000   
//    000     000000000  0000000   0000000    
//    000     000   000       000  000  000   
//    000     000   000  0000000   000   000  

.task
    cursor                      pointer
    white-space                 nowrap
    animation                   highlightTask 0.7s
    animation-timing-function   ease-in-out
    animation-iteration-count   1
        
.task .time
    animation                   highlightTime 1s
    animation-timing-function   ease-in
    animation-iteration-count   1

.task .file
    animation                   highlightFile 1.3s
    animation-timing-function   ease-in-out
    animation-iteration-count   1

#overlay
    fill-abs()
    
.fade-in
    animation                   fadeIn 120s
    animation-timing-function   ease-in-out
    
.info
    pointer-events              none
    width                       50%
    padding-left                25%
    padding-top                 12%

//    0000000   000   000  000  00     00   0000000   000000000  000   0000000   000   000
//   000   000  0000  000  000  000   000  000   000     000     000  000   000  0000  000
//   000000000  000 0 000  000  000000000  000000000     000     000  000   000  000 0 000
//   000   000  000  0000  000  000 0 000  000   000     000     000  000   000  000  0000
//   000   000  000   000  000  000   000  000   000     000     000   0000000   000   000
            
@keyframes highlightTask
    0%,100%   
        font-size       14px
    50%  
        font-size       12px
        
@keyframes fadeIn
    0%
        opacity         0
    100%  
        opacity         1

// 00     00  00000000  000   000  000   000  
// 000   000  000       0000  000  000   000  
// 000000000  0000000   000 0 000  000   000  
// 000 0 000  000       000  0000  000   000  
// 000   000  00000000  000   000   0000000   
            
.menuItem
    -webkit-app-region  no-drag
    color               #888
    background-color    titleColor
    
.menuItem.selected
    color               #aaa
    
.menu:focus .menuItem
    color               #888
.menu:focus .menuItem.selected
    color               #fff
        
.menu
    height              titlebarHeight
    pointer-events      auto
    -webkit-app-region  drag
    flex                1 1 0
    display             flex
    flex-direction      row
    
.menuItem
    -webkit-app-region  no-drag
    cursor              pointer
    padding-left        10px
    padding-right       10px
    padding-top         6px
    // font-weight         bold
    display             inline-block
    height              titlebarHeight
    overflow            visible
            
// 00000000    0000000   00000000   000   000  00000000
// 000   000  000   000  000   000  000   000  000   000
// 00000000   000   000  00000000   000   000  00000000
// 000        000   000  000        000   000  000
// 000         0000000   000         0000000   000

.popup
    z-index             9999
    background-color    frameColor
    position            absolute
    border-radius       3px
    font-size           titlebarFontSize
    font-family         titlebarFont
    // font-weight         bold
    
.popupItem
    padding             2px
    padding-left        2 * frameWidth
    padding-right       2 * frameWidth + 70px
    cursor              pointer
    // color               #888
    &.separator
        padding             0
        cursor              default
        border              0
        height              0
        margin-top          2px
        margin-bottom       2px
        border-top          1px solid #333
    &:not(:last-child)
        border-bottom       1px solid #222
    &.selected
        color           #fff
        & .popupCombo
            color       #888
    &:last-child
        padding-bottom  frameWidth
    &:first-child
        padding-top     frameWidth

.menuItem:active
.popupItem:active
    color               #ff0

.popupCombo
    color               #333
    position            absolute
    right               2 * frameWidth

.popupCombo
    pointer-events      none
    position            absolute
    right               2 * frameWidth
        
//  0000000   0000000  00000000    0000000   000      000      0000000     0000000   00000000 
// 000       000       000   000  000   000  000      000      000   000  000   000  000   000
// 0000000   000       0000000    000   000  000      000      0000000    000000000  0000000  
//      000  000       000   000  000   000  000      000      000   000  000   000  000   000
// 0000000    0000000  000   000   0000000   0000000  0000000  0000000    000   000  000   000

::-webkit-scrollbar
    width                   frameWidth
    height                  frameWidth  
    background-color        transparent

::-webkit-scrollbar-track
    background-color        transparent
    
    